h1{
    color: rgb(160, 25, 38);
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font: italic 200 20px Arial, sans-serif;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-top-style:groove;
    border-bottom-style:groove;
    border-right-style:groove;
    border-left-style:groove;
}

p{
    color: #ea09af;
}

h2{
    color:hsl(270, 100%, 50%)
}